<div class="row footer">
    <div class="col-sm-12">
        <p class="text-center footer-mention"> Developed by mortar team. It is running on tools.wmflabs.org and is subject to the Wikimedia Cloud Services. <br> Mortar is published under MIT Licence</p>
    </div>
</div>