<title> Interactive documentation for GLAM uploads | <%= page %></title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Mortar - Interactive documentation for GLAM uploads">
<meta name="keywords" content="GLAM, Wikidata, Commons, Wikimedia, Documentation">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--open grapgh Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta property="og:url" content="https://tools.wmflabs.org/mortar/">
<meta property="og:title" content="Mortar - Interactive documentation for GLAM uploads">
<meta property="og:description" content="Interactive documentation for GLAM uploads">
<meta property="og:image" content="https://tools.wmflabs.org/mortar/images/cover-glam.jpg">
<!-- FACEBOOK -->
<meta property="og:title" content="Mortar - Interactive documentation for GLAM uploads">
<meta property="og:description" content="Interactive documentation for GLAM uploads">
<meta property="og:type" content="website">
<meta property="og:url" content="https://tools.wmflabs.org/mortar/">
<meta property="og:image" content="https://tools.wmflabs.org/mortar/images/cover-glam.jpg">
<meta name="active-menu" content="<%= menuId %>">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="./stylesheets/bootstrap/bootstrap.min.css">
<link rel="stylesheet" href="./stylesheets/style.css">
