<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
    <div class="navbar-header col-md-3 col-sm-6 col-lg-11">
      <a class="navbar-brand" href="/mortar"><%=translation.ProjectName%></a>
      <p class="moto"><%=translation.ProjectHeadLine%></p>
    </div>
    
    <div class="col-md-3 col-sm-6 col-lg-1">
      <select class="select-language browser-default custom-select-sm">
        <option lang="en"><a class="<%=(lang=="en"?"active":"")%>" href="/?clang=en">En</a></option>
        <option lang="en"><a class="<%=(lang=="en"?"active":"")%>" href="/?clang=en">En</a></option>
        <option lang="fr"><a class="<%=(lang=="fr"?"active":"")%>" href="/?clang=fr">Fr</a></option>
      </select>
      
    </div>
  </div>
  </div>
</nav>
