<link href='https://tools-static.wmflabs.org/fontcdn/css?family=Roboto:300,400' rel='stylesheet' type='text/css'>
<script src="/mortar/javascripts/jquery/jquery.min.js"></script>
<script src="/mortar/javascripts/jquery/jquery-ui.js"></script>
<script src="/mortar/javascripts/script.js"></script>
<link rel="stylesheet" href="/mortar/stylesheets/jquery/jquery-ui.css">
<script src="/mortar/javascripts/bootstrap/popper.js"></script>
<script src="/mortar/javascripts/bootstrap/bootstrap.min.js"></script>
<script src="/mortar/javascripts/countrylanguage.js"></script>