<div class="row steps-navigation">
    <div class="col-md-3 col-sm-6 col-lg-6 previous-arrow nav-arrow"> <i class="fa fa-arrow-left"></i> Previous </div>
    <div class="col-md-3 col-sm-6 col-lg-6 next-arrow nav-arrow"> Next <i class="fa fa-arrow-right"></i> </div>
</div>