<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %>
</head>
<body>
<% include partials/menu %>

<div class="container-fluid bg-3 text-center">    
  <!--<h3><%= page %></h3><br>-->
  <div class="row pictures-head-title">
    <div class="col-sm-12">
        <h1> Pictures path </h1>
    </div>
  </div>
  <div class="row picture-data-container">
   <div class="class=col-md-3 col-sm-6 col-lg-3">
    <a class="navigation menu-step-one" href="#preparation" tuto-nav-step="1">1-Preparation</a>
    <a class="navigation menu-step-two" href="#installation" tuto-nav-step="2">2-Installation de Pattypan</a>
    <a class="navigation menu-step-two" href="#installation_table" tuto-nav-step="3">3-Création du tableur d’import</a>
    <a class="navigation menu-step-two" href="#installation_fill" tuto-nav-step="4">4-Remplir la feuille de calcul</a>
   </div>
   <div class="col-md-3 col-sm-6 col-lg-9">
   
    <div class="active steps picture-data_step1 col-md-3 col-sm-6 col-lg-12" tuto-step="1">
        <h2 id="step1-title"> Preparation </h2>
        <div id="step1-content">
            <p>
                Pour réaliser les opérations à venir, vous avez besoin de trier vos photos en différents
                dossiers pour réaliser des lots les plus homogènes possibles. Par exemple en séparant les photos
                de peinture de celle de sculpture.
                <br>
                Si vous avez le temps, renommer chaque photo avec un nom explicite peut vous éviter des aller-retour mais n’est pas nécessaire dans la suite d’exécution du processus.
                <br>
                Vous aurez besoin par la suite de posséder un compte utilisateur.
                Munissez vous de vos identifiants ou créez votre compte ici
                <a href="https://fr.wikipedia.org/wiki/Aide:Compte_utilisateur ">https://fr.wikipedia.org/wiki/Aide:Compte_utilisateur </a>
                (page d’aide ici <a href="https://fr.wikipedia.org/wiki/Aide:Compte_utilisateur">https://fr.wikipedia.org/wiki/Aide:Compte_utilisateur</a>)
            </p>
        </div>        
    </div>
    
    <div class="hide steps picture-data_step2 col-md-3 col-sm-6 col-lg-12" tuto-step="2" id='installations'>
        <h2> Installation de pattypan </h2>
        <div id="step2-content">
         <img src="images/pattypan-logo.png" alt="logo Pattypan" title="">
         <p>
          Pattypan est un outil open source écrit par Yarl et conçu pour importer des fichiers sur Wikimedia Commons.
          Il permet d’intégrer une description très détaillée particulièrement utile dans le cas de versement d’objets
          de collection par exemple.
          <br>
          Pour l’installer
          <br>
          téléchargez le fichier : <a href="https://github.com/yarl/pattypan/releases/download/v19.06/pattypan.jar">https://github.com/yarl/pattypan/releases/download/v19.06/pattypan.jar</a>

          Ouvrez le en double cliquant dessus
          <br>
          Dans la plupart des cas cette action va entraîner l’ouverture d’un message d’avertissement de sécurité à
          propos de la provenance du logiciel. Il faut demander plus de détails et ajouter une exception ou autoriser
          l’exécution suivant les versions de Windows. 
         </p>
        </div>
    </div>
    
    <div class="hide steps picture-data_step2 col-md-3 col-sm-6 col-lg-12" tuto-step="3">
     <h2> Création du tableur d’import </h2>
     <div id="step3-content">
         <img src="images/step3-capture1.png" alt="logo Pattypan" title="">
         <p>
          Cliquez sur « générer un tableur » et naviguez jusqu'au dossier de votre ordinateur qui
          contient les fichiers que vous désirez téléverser.
          <br>
          <img src="images/step3-capture2.png" alt="logo Pattypan" title="">
         </p>
         <p>
          choisissez le modèle de mise en forme <b>{{Artwork}}.</b>
         </p>              
         <p>
          choisissez les colonnes qui figureront sur la feuille de calcul : sélectionnez les champs des
          métadonnées que vous voulez faire apparaître dans la description du fichier
          (par exemple : date, dimensions, institution, source, etc.).
          Les valeurs sélectionnées seront converties en titres de colonnes — vous pourrez alors remplir les colonnes avec les informations appropriées.
          <br>
          <img src="images/step3-capture3.png" alt="logo Pattypan" title="">
         </p>
         <p>
          À cette étape, vous pouvez pré-remplir les champs sélectionnés avec des informations répétées en cochant le bouton radio "Const" et en saisissant l'information dans les zones connexes. Cette colonne ne sera pas indiquée dans la feuille de calcul,
          ce n’est pas une erreur, les informations sont stockées dans le second onglet.
          <br>
          <img src="images/step3-capture4.png" alt="logo Pattypan" title="">
         </p>
         <p>
          Enregistrez.
          <br>
          Vous obtenez un fichier <b>.xls </b>
         </p>
     </div>
    </div>
    
    <div class="hide steps picture-data_step2 col-md-3 col-sm-6 col-lg-12" tuto-step="4">
        <h2> Remplir la feuille de calcul </h2>
        <div id="step4-content">
         <p>
          C’est à cette étape que vous allez pouvoir utiliser vos données à propos des objets photographiés.
          <br>
          téléchargez le fichier : <a href="https://github.com/yarl/pattypan/releases/download/v19.06/pattypan.jar">https://github.com/yarl/pattypan/releases/download/v19.06/pattypan.jar</a>

          Ouvrez le en double cliquant dessus
          <br>
          Dans la plupart des cas cette action va entraîner l’ouverture d’un message d’avertissement de sécurité à
          propos de la provenance du logiciel. Il faut demander plus de détails et ajouter une exception ou autoriser
          l’exécution suivant les versions de Windows. 
         </p>
        </div>
    </div>
    </div>
  
  </div>
  <!--<% include partials/steps-navigation %>-->
</div>

<% include partials/footer %>

</body>

<% include partials/script %>