@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body{
    font-family: Montserrat,Arial,Helvetica,sans-serif;
}

.bg-3 {
      background-color: #ffffff;
      color: #555555;
  }

  .container-fluid {
      padding-bottom: 70px;
  }
  
  .select-language{
    background-color: transparent;
    color: #fff;
    border: solid 1px;
  }

  .navbar-header {
    width: 100%;
    text-align: center;
  }

  .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
  }

  .navbar-default .navbar-brand{
    color: #fff;
    width: 100%;
    text-align: center;
  }

  .moto{
    text-align: center;
    color: #aaa;
    text-transform: uppercase;

  }

  .navbar-nav h1{
    color: #fff;
  }

  .navbar-default{
    background-color: #3a6d99;
  }

  .navbar-nav  li a:hover {
      color: #1abc9c !important;
  }

  .active>a {
    color: #1abc9c !important;
  }

  .navbar-default .navbar-brand:hover{
    color: #fff;
  }

  /* Homepage */

  .head-title{
    margin-top: -50px;
    margin-bottom: 20px;
  }

  .head-title h1{
    text-transform: uppercase;
    font-size: 25px;
  }

  .head-title div{
    background: #fff;
    padding: 20px;
  }

  .cover-img{
    height: 300px;
    background-image:url("/mortar/images/cover-glam.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .homeview{
    margin: 0px;
    padding: 0px 0px 50px 0px;
  }

  .card{
    width: 80%;
    border: solid 1px #ddd;
    padding: 10px;
    margin: auto;
    margin-bottom: 20px;
  }

  .card .btn-primary{
    background-color: #3a6d99;
    border-radius: 0px;
    border-color: #3a6d99;
    color: #fff;
  }

  /* Datapath page */
  .datapath{
    display: flex;
    justify-content: center;
  }

  /* Institutions */
  .institutions-container{
    margin-top: 70px;
  }
  
  /* Picture path */
  .picture-data-container, .pictures-head-title{
    width: 90%;
    margin: auto;
  }
  
  
  .pictures-head-title h1{
    margin: 20px 0px 40px 0px;
    text-align: left;
    
  }
  
  #step2-content img{
    width: 10%;
  }
  
  #step3-content img{
    width: 100%;
  }
  
  
  .steps{
    max-width: 90% !important;
    margin: auto;
    box-shadow: 0 0 0.3rem #999;
    margin-bottom: 30px;
    padding: 20px;
  }
  
  .steps p{
    line-height: 3;
  }
  .steps h2{
    font-family: Montserrat,Arial,Helvetica,sans-serif;
  }
  
  .active{
    display: block;
  }
  
  .hide{
    display: none;
  }
  
  .navigation {
    display: block;
    line-height: 3;
    color: #000;
    text-align: left;
    border-bottom: solid 1px;
    padding: 10px;
  }
  
  .navigation:hover {
    text-decoration: none;
    color: #3a6d99;
  }
  
  .menu-step-one{
    color: #3a6d99;
    font-weight: bold;
  }

  /* Form page */
  
  .form form{
    margin: auto;
    border: solid 1px #ddd;
    padding: 30px;
  }

  .form label{
    float: left;
  }

  .form-submit{
    background-color: #3a6d99;
    color: #fff;
    border-radius: 0px;
    width: 50%;
  }

  .form input{
    border-radius: 0px;
  }

  /* Footer */

  .footer{
    background-color: #3a6d99;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 5px 0px 0px 0px;
    margin: 0;
  }

  p.text-center.footer-mention{
    color: #eee;
    font-size: 12px;
  }
